name: Build Windows
on:
    workflow_dispatch:

jobs:
    Build_Windows:
        runs-on: windows-2025
        
        steps:
            - name: Add msbuild to PATH
              uses: microsoft/setup-msbuild@v2

            - name: Checkout repo
              uses: actions/checkout@v6

            - name: Compile release
              run: |
                cd BLEServer
                msbuild BLEServer.sln /p:Configuration=Release /p:Platform=ARM64
                msbuild BLEServer.sln /p:Configuration=Release /p:Platform=x64
                msbuild BLEServer.sln /p:Configuration=Release /p:Platform=x86
            
            - name: Upload ARM64 artifact
              uses: actions/upload-artifact@v4
              with:
                name: BLEServer-ARM64
                path: BLEServer\ARM64\Release\BLEServer.exe
            
            - name: Upload x64 artifact
              uses: actions/upload-artifact@v4
              with:
                name: BLEServer-x64
                path: BLEServer\x64\Release\BLEServer.exe
            
            - name: Upload x86 artifact
              uses: actions/upload-artifact@v4
              with:
                name: BLEServer-x86
                path: BLEServer\Release\BLEServer.exe

            - name: Compile installer
              run: |
                cd installer
                iscc installer.iss

            - name: Upload installer
              uses: actions/upload-artifact@v4
              with:
                name: Installer
                path: installer\output\*
